.pio/
.pio-home/
compile_commands.json
artifacts/
node_modules/
__pycache__/
*.pyc
bin/
obj/
**/bin/
**/obj/
.dotnet-sdk/
.dotnet/
.dotnet-cli-home/
.dotnet-install.ps1
.nuget/
.templateengine/
*.user
App_Data/
**/App_Data/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/

.fake
